{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:blogs' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'main:blogs' %}">Home</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'main:create' %}">Add Article</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:create_form' %}">Add Article Form</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        {#        {% if request.user.is_authenticated %}#}
        {#            {{ e }}#}
        {#        {% else %}#}
        {#            <a href="{% url 'auth_user:login' %}" class="btn btn-outline-success">LOGIN</a>#}
        {#        {% endif %}#}
        <div class="row mx-3">
            {% if request.user.is_staff or request.user.is_superuser %}
                <a href="{% url 'auth_user:notifications' %}" class="btn btn-outline-success">
                    <i class="fa-solid fa-bell"></i> Notifications
                </a>
            {% endif %}
        </div>
        <div class="row">
            {% if request.user.is_authenticated %}
                <div class="d-flex align-items-center border rounded p-2 shadow-sm">
                    <img src="{% static 'image/unknown.jpg' %}" alt="Profile Picture" class="rounded-circle me-2"
                         width="50">
                    <div>
                        <h6 class="mb-0">{{ request.user.username }}</h6>
                        {#                        <small class="text-muted">{{ logins.email }}</small>#}
                    </div>
                    <a href="{% url 'auth_user:logout' %}" class="btn btn-danger btn-sm ms-3">Logout</a>
                </div>
            {% else %}
                <a href="{% url 'auth_user:login' %}" class="btn btn-outline-dark px-4 py-2 rounded-pill">LOGIN</a>
            {% endif %}
        </div>
    </div>
</nav>