{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'navbar.html' %}
<div class="row">
    <h1>Recipes List</h1>
</div>

{% endblock %}

{% block content %}
    <div class="row">
        {% if user.is_authenticated %}
            <a href="{% url 'recipe:recipe_create' %}" class="btn btn-success my-3">Add Recipe</a>
        {% endif %}
        
        {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="{{ recipe.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <h6>Author: <em><a href="?q={{ recipe.author }}">{{ recipe.author }}</a></em></h6>
                        <p class="card-text">{{ recipe.description|slice:" :200" }}...</p>
                        {% for tag in recipe.tags.all %}
                            <mark><a href="?tag={{ tag }}">{{ tag }}</a></mark>
                        {% endfor %}
                        <p class="card-text"><small class="text-body-secondary">Last updated {{ recipe.updated_at|timesince }} ago</small></p>
                        <a href="{% url 'recipe:detail' recipe.slug %}" class="btn btn-primary">About it</a>
                    </div>
                </div>
            </div>
        {% endfor %}


        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item {% if not recipes.has_previous %} disabled {% endif %}">
                <a class="page-link" href="{% if recipes.has_previous %}?page={{ recipes.previous_page_number }}{% endif %}">Previous</a>
              </li>
              {% for page_num in recipes.paginator.page_range %}
                <li class="page-item"><a class="page-link {% if recipes.number == page_num %} active {% endif %}" href="?page={{ page_num }}">{{ page_num }}</a></li>
              {% endfor %}
              <li class="page-item {% if not recipes.has_next %} disabled {% endif %}">
                <a class="page-link" href="{% if recipes.has_next %}?page={{ recipes.next_page_number }}{% endif %}">Next</a>
              </li>
            </ul>
        </nav>


    </div>
{% endblock %}