{% extends 'base.html' %}

{% load static %}


{% block header %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container">


        <div class="row">
            {% for ne in new %}
                <div class="col-md-4">
                    <div class="card bg-light border border-secondary hover-effect" style="width: 18rem;">
                        <img src="{{ ne.image.url }}" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ ne.title }}</h5>
                            <p class="card-text">{{ ne.content }}</p>
                            <a href="{% url 'main:detail' ne.id %}" class="btn btn-primary">ABOUT IT</a>
                        </div>
                    </div>

                    <!-- Back to Home button -->
                    {#                <a href="index.html" class="back-home"> Back to Home</a>#}
                </div>
            {% endfor %}

            <div>
                <a href="{% url 'main:index' %}" class="back-home">⬅ Back to home page</a>
            </div>
        </div>
    </div>
{% endblock %}