{% extends 'base.html' %}

{% load static %}


{% block header %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {#        <div class="row">#}
        {#            <div class="col-md-4 offset-11 d-flex mt-3">#}
        {#                <a href="{% url 'main:login' %}" type="submit" class="btn btn-info">LOGIN</a>#}
        {#            </div>#}
        {#        </div>#}
        <div class="row">
            <div class="d-flex justify-content-between align-items-center mt-3">
                <h1 style="color: #ff5733; font-weight: bold;">Article list</h1>
                {% if login %}
                    {#                    {% for foo in login %}#}
                    <div class="d-flex align-items-center border rounded p-2 shadow-sm">
                        <img src="{% static 'image/unknown.jpg' %}" alt="Profile Picture" class="rounded-circle me-2"
                             width="50">
                        <div>
                            <h6 class="mb-0">{{ login.first_name }} {{ login.last_name }}</h6>
                            <small class="text-muted">{{ login.email }}</small>
                        </div>
                        <a href="{% url 'main:logout' %}" class="btn btn-danger btn-sm ms-3">Logout</a>
                    </div>
                    {#                    {% endfor %}#}
                {% else %}
                    <a href="{% url 'main:login' %}" class="btn btn-outline-dark px-4 py-2 rounded-pill">LOGIN</a>
                {% endif %}
            </div>
            <h2 class="text-muted fst-italic fs-5">Article List page</h2>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-8 my-3">
                    <form class="form-control d-flex my-3 gap-2" action="{% url 'main:blogs' %}" method="get">
                        <input type="search" class="form-control" name="q" placeholder="search ...">
                        <button type="submit" class="btn btn-success">submit</button>
                    </form>
                </div>
                <div class="col-4">
                    <span>{{ new.count }} object found</span>
                </div>
            </div>
            {% if new %}
                {% for ne in new %}
                    <div class="col-md-4">
                        <div class="card bg-light border border-secondary hover-effect" style="width: 18rem;">
                            {% if ne.image %}
                                <img src="{{ ne.image.url }}" alt="...">
                            {% else %}
                                <h2 class="text-danger">No image</h2>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ ne.title }}</h5>
                                <p class="card-text">{{ ne.content | slice:":300" }}</p>
                                <a href="{% url 'main:detail' ne.id %}" class="btn btn-primary">ABOUT IT</a>
                            </div>
                        </div>

                        <!-- Back to Home button -->
                        {#                <a href="index.html" class="back-home"> Back to Home</a>#}
                    </div>
                {% endfor %}
            {% else %}
                <h2>No found</h2>
            {% endif %}
            <div>
                <a href="{% url 'main:index' %}" class="back-home">⬅ Back to home page</a>
            </div>
        </div>
    </div>
{% endblock %}