{% extends 'base.html' %}

{% load static %}


{% block header %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container">


        <div class="row">
            {% for ne in new %}
                <div class="col-md-4">
                    <div class="card bg-light border border-secondary hover-effect" style="width: 18rem;">
                        <img src="https://npr.brightspotcdn.com/dims4/default/ad9db25/2147483647/strip/true/crop/6000x3150+0+425/resize/1200x630!/quality/90/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2Flegacy%2Fsites%2Fkunr%2Ffiles%2F201909%2FDSC_0306.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ ne.title }}</h5>
                            <p class="card-text">{{ ne.content }}</p>
                            <a href="{% url 'main:detail' ne.id %}" class="btn btn-primary">ABOUT IT</a>
                        </div>
                    </div>

                    <!-- Back to Home button -->
                    {#                <a href="index.html" class="back-home"> Back to Home</a>#}
                </div>
            {% endfor %}

            <div>
                <p class="p-home"><a href="{% url 'main:index' %}" class="back-home">⬅ Back to home page</a></p>
            </div>
        </div>
    </div>
{% endblock %}