{% extends 'base.html' %}

{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">


        <div class="row">
            <div class="col-12">
                <h1>ARTICLE DETAIL PAGE</h1>
                <a href="{% url 'main:blogs' %}">Article</a> / <span>detail</span>
            </div>
            <div class="col-12">
                <img src="{{ object.image.url }}" alt="NO image">
                <hr>
                <h3>{{ object.title }}</h3>
                <p>{{ object.content }}</p>
            </div>
        </div>

    </div>
{% endblock %}

