{% extends 'base.html' %}

{% load static %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_div }}

{#                <div class="mb-3">#}
{#                    <label for="exampleInputUsername" class="form-label">Username</label>#}
{#                    {{ form.username }}#}
{#                </div>#}
{##}
{#                <div class="mb-3">#}
{#                    <label for="exampleInputPassword" class="form-label">Password</label>#}
{#                    {{ form.password }}#}
{#                </div>#}

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}